.activity {
    width: 300px;
    height: 410px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.activity img {
    width: 286px;
    height: 150px;
    border-radius: 8px;
    margin: 7px;
}