.cart {
    position: sticky;
    top: 0;
    padding: 28px 20px;
}

.cart-bar img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}



.cart-bar {
    display: flex;
    align-items: center;
}

.profile {
    margin-left: 10px;
}

.profile-name {
    margin-bottom: 0;
}

.location {
    margin-top: 0;
}



.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px
}

.excution {
    display: flex;
    justify-content: space-between;
}

.btn-second {
    padding: 8PX;
    margin-right: 5PX;
    border-radius: 5PX;
}

.btn-complete {
    background-color: rgb(240, 236, 230);
    padding: 5px 20px;
    border: 2ps solid white;
    border-radius: 5px;
}