.blog-header {
    margin-left: 200px;
}

.q-1 {
    background-color: #FFE0B3;
    padding: 20px;
    margin-left: 200px;
    margin-right: 100px;
}

@media only screen and (max-width: 600px) {

    .blog-header {
        margin-left: 40px;
    }

    .q-1 {
        margin-left: 0px;
        margin-right: 0px
    }


}